node_modules/
.expo/
dist/
web-build/

# Environment variables
.env
.env.*

# Secrets and Keys
*.jks
*.keystore
*.p12
*.key
google-services.json
GoogleService-Info.plist
fcm-key.json
slyzah-*.json
firebase-sync/serviceAccountKey.json

# System
.DS_Store
.vscode/